/* Pulse animation from Gemini 3.0 Pro */
@keyframes redPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.9);
    }

    20% {
        box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.9);
    }

    70% {
        box-shadow: 0 0 0 12px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.arena {
    border: 5px solid black;
    height: 500px;
    width: 500px;
    z-index: 3;
}

.it {
    border: 3px solid red !important;
    animation: redPulse 1s infinite;
    z-index: 1;
}