table, td {
    border: solid black;
}

td:empty {
    padding: 50px;
}

.arena {
    border: 5px solid black;
    height: 500px;
    width: 500px;
}

.it {
    border: 6px solid red !important;
    z-index: 1;
}

@media (max-width: 525px) {
    table {
        margin-bottom: 0.5em;
    }
    
    td:empty {
        padding: 25px;
    }
}