@import "tailwindcss";

@font-face {
  font-family: Oxanium; /* set name */
  src: url(../fonts/Oxanium-VariableFont_wght.ttf); /* url of the font */
}

:root {
    --background: #262626;
    --primary-text: #FFFFFF;
    --muted-text: #A0A0A0;
    --surface: #333333;
    --primary: #FF851B;
    --primary-hover: #FF9F43;
    --primary-active: #E67E22;
}

#selected {
    margin-right: 1em;
}

a {
    color: var(--primary);
    transition-duration: 0.33s;
}

a[disabled] {
    pointer-events: none;
    opacity: 0.4;
}

body, .body {
    background-color: var(--background);
    color: var(--primary-text);
    font-family: Oxanium, Arial, Helvetica, sans-serif;
    padding: 1em;
}

footer {
    border-top: solid 5px var(--surface);
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding-top: 1em;
}

h1 {
    text-align: center;
}

input {
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.2em;
}

.card {
    background-color: var(--surface);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.card-thin {
    background-color: var(--surface);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.centered {
    text-align: center;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.half-screen {
    max-height: 50vh;
}

.logo {
    width: 150px;
}

.logo-inline {
    height: 60px;
}

.main-button {
    background-color: var(--primary);
    border-radius: 0.5em;
    color: var(--background);
    font-weight: bold;
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
    text-decoration: none;
}

.main-button:hover {
    background-color: var(--primary-hover);
}

.main-button:active {
    background-color: var(--primary-active);
}

.outline-button {
    background-color: transparent;
    border: solid 2px var(--primary);
    border-radius: 0.5em;
    color: var(--primary);
    font-weight: bold;
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
    text-decoration: none;
}

.outline-button:hover {
    background-color: var(--primary-hover);
    border: solid 2px var(--primary-hover);
    color: var(--background);
}

.outline-button:active {
    background-color: var(--primary-active);
    border: solid 2px var(--primary-active);
}

.skin-container:hover {
    border: solid 3px black;
    padding: 5px;
    border-radius: 10px;
}

.skin-icon {
    display: inline;
    height: 50px;
    width: 50px;
}

.skin-big {
    height: 100px;
    width: 100px;    
}

@media (max-width: 525px) {
    .skin-big {
        height: 50px;
        width: 50px;
    }
}