.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.columns-child {
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
}

.sidebar {
    flex: 0 1 20%;
}

.third {
    flex: 0 1 33.33%;
    margin: 0 0.5em
}

@media (max-width: 1000px) {
  .columns {
    flex-direction: column; /* Items stack vertically on small screens */
  }

  .third {
    width: unset;
    margin-bottom: 0.5em;
  }
}