:root {
    --background: #262626;
    --primary-text: #FFFFFF;
    --muted-text: #A0A0A0;
    --surface: #333333;
    --primary: #FF851B;
    --primary-hover: #FF9F43;
    --primary-active: #E67E22;
}

a {
    color: var(--primary);
    transition-duration: 0.33s;
}

body {
    background-color: var(--background);
    color: var(--primary-text);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

footer {
    border-top: solid 5px var(--surface);
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding-top: 1em;
}

h1 {
    text-align: center;
}

input {
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.card {
    background-color: var(--surface);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: fit-content;
}

.card-thin {
    background-color: var(--surface);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: min-content;
}

.centered {
    text-align: center;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
}

.logo-inline {
    height: 60px;
}

.main-button {
    background-color: var(--primary);
    border-radius: 0.5em;
    color: var(--background);
    font-weight: bold;
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
    text-decoration: none;
}

.main-button:hover {
    background-color: var(--primary-hover);
}

.main-button:active {
    background-color: var(--primary-active);
}

.outline-button {
    background-color: transparent;
    border: solid 2px var(--primary);
    border-radius: 0.5em;
    color: var(--primary);
    font-weight: bold;
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
    text-decoration: none;
}

.outline-button:hover {
    background-color: var(--primary-hover);
    border: solid 2px var(--primary-hover);
    color: var(--background);
}

.outline-button:active {
    background-color: var(--primary-active);
    border: solid 2px var(--primary-active);
}

.skin-icon {
    height: 50px;
    width: 50px;
}

.skin-selected {
    height: 100px;
    margin-right: 1em;
    width: 100px;    
}