:root {
    --background: #262626;
    --primary-text: #FFFFFF;
    --muted-text: #A0A0A0;
    --surface: #333333;
    --primary: #FF851B;
    --primary-hover: #FF9F43;
    --primary-active: #E67E22;
}

a {
    color: var(--primary);
}

body {
    background-color: var(--background);
    color: var(--primary-text);
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: var(--surface);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.main-button {
    background-color: var(--primary);
    border-radius: 0.5em;
    color: var(--background);
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
    text-decoration: none;
}

.main-button:hover {
    background-color: var(--primary-hover);
}

.main-button:active {
    background-color: var(--primary-active);
}